<h1>Your Links</h1>
<%= link_to "Nuevo Link", 'links/new' %>
<% @links.each do |link| %>
  <p>
    Original URL: <%= link.url %><br>
    Short URL: <%= link.short_url %><br>
    Type: <%= link.tipo_link.capitalize %><br>
    <%= link_to 'Edit', edit_link_path(link) %>
  </p>
<% end %>