<h1>New Link</h1>
<%= form_for(@link, url: links_path) do |f| %>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.select :tipo, [['Regular', 'regular'], ['Temporal', 'temporal'], ['Private', 'private'], ['Ephemeral', 'ephemeral']], {},  class: 'tipo-link-select', id: 'tipo-link-select' %>
  </div>

  <div class="field" id="fecha-field" style="display:none;">
  <%= f.label :expiration_date %><br>
  <%= f.datetime_select :expiration_date %>
</div>

  <div class="actions">
    <%= f.submit 'Create Link' %>
  </div>
<% end %>

< <script>
  document.addEventListener('DOMContentLoaded', function () {
    var tipoSelect = document.getElementById('tipo-link-select');
    var fechaField = document.getElementById('fecha-field');
    var fechaSelects = fechaField.querySelectorAll('select');
    fechaSelects.forEach(function (select) {
      select.value = null;
    });

    tipoSelect.addEventListener('change', function () {
      if (tipoSelect.value === 'temporal') {
        fechaField.style.display = 'block';
        // Puedes establecer la fecha inicial aquí si lo deseas.
      } else {
        fechaField.style.display = 'none';
        // Establecer el valor de los campos de fecha a null
      }
    });
  });
  </script>
