<h1 style="text-align:center" >Nuevo Link</h1>
<br>
<% if flash[:error].present? %>
  <div class="alert alert-danger">
    <h4>Error de validación:</h4>
    <p><%= flash[:error] %></p>
  </div>
<% end %>

<div class="forms">
  <%= form_for(@link, url: links_path) do |f| %>
    <div class="form-group">
      <%= f.label :url %><br>
      <%= f.text_field :url, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :type %><br>
      <%= f.select :type, [['Regular', 'RegularLink'], ['Temporal', 'TemporalLink'], ['Privado', 'PrivateLink'], ['Efímero', 'EphemeralLink']], {},  class:"form-select", id: 'tipo-link-select' %>
    </div>

    <div class="form-group">
      <%= f.label :nombre %> (Opcional)<br>
      <%= f.text_field :nombre, class: "form-control"%>
    </div>

    <div class="field" id="fecha-field" style="display:none;">
      <%= f.label :expiration_date %><br>
      <%= f.datetime_select :expiration_date %>
    </div>

    <div class="form-group"" id="password-field" style="display:none;">
        <%= f.label :password %><br>
        <%= f.password_field :password, class: "form-control" %>
    </div>
    
    <div class="field" id="ephemeral-field" style="display:none;">
        <%= f.check_box :entered %>
        <%= f.label :entered %>
    </div>

    <br>
    <div class="actions">
        <%= f.submit 'Create Link', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var tipoSelect = document.getElementById('tipo-link-select');
    var fechaField = document.getElementById('fecha-field');
    var fechaSelects = fechaField.querySelectorAll('select');
    var passwordField = document.getElementById('password-field')
    var ephemeralField = document.getElementById('ephemeral-field')

    fechaSelects.forEach(function (select) {
      select.value = null;
    });

    passwordField.style.display = 'none';
    ephemeralField.style.display = 'none';
    fechaField.style.display = 'none';

  tipoSelect.addEventListener('change', function () {
    if (tipoSelect.value === 'TemporalLink') {
      fechaField.style.display = 'block';
    } else {
      fechaField.style.display = 'none';
    }
    if (tipoSelect.value === 'PrivateLink') {
      passwordField.style.display = 'block';
    } else {
      passwordField.style.display = 'none';
    }
  });
});
</script>
