<h2 style=text-align:center>Ingresar contraseña</h2>
<br>
<% if flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>
<div class="forms">
  <%= form_tag({ controller: 'links', action: 'verificar_password' }, method: 'post', class: 'form-inline') do %>
    <div class="form-group">
      <%= label_tag 'password', 'Password:' %>
      <%= password_field_tag 'password', nil, class: 'form-control' %>
    </div>

    <br>
    <%= submit_tag 'Submit', class: 'btn btn-primary' %>
  <% end %>
</div>