<h2 style="text-align:center">Iniciar Sesión</h2>

<div class="forms">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin" }) do |f| %>
    <div class="form-group">
      <%= f.label :email, class: "sr-only" %>
      <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "Email", autocomplete: "email" %>
    </div>

    <div class="form-group">
      <%= f.label :password, class: "sr-only" %>
      <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group">
        <div class="form-check">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, class: "form-check-label" %>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
